{% if section.settings.regulation_heading.size > 0 %}
	<div class="section-header text-center">
		<h2>{{ section.settings.regulation_heading }}</h2>
	</div>
{% endif %}

<div class="rules_grid">
  {% for block in section.blocks %}
    <details class="rules">
      {% if block.settings.title.size > 0 %}
        <summary class="rule_name">
          <strong>{{ block.settings.title }}</strong>
        </summary>
      {% endif %}
      <div class="rule_desc">
        <p>{{ block.settings.rule_desc }}</p>
      </div>
    </details>
  {% endfor %}
</div>

{% schema %} 
{ 
  "name": "Rules and Regulations", 
  "settings": [
      { 
        "id": "regulation_heading", 
        "type": "text", 
        "label": "Heading for Rules and Regulations Section" 
      }
    ], 
    "blocks": [
      { 
        "type": "regulations", 
        "name": "Regulations", 
        "settings": 
        [ 
          { 
            "id": "title", 
            "type": "text", 
            "label": "Title" 
          }, 
          { 
            "id": "rule_desc", 
            "type": "richtext", 
            "label": "Rule Description" 
} ] }] } 
{% endschema %}
